.login-container {
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    position: absolute;
    border-radius: 5px;
    box-shadow: 5px -5px 5px -5px rgba(0, 0, 0, 0.75);
    background: azure;
}

.login-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}